html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
  width: 1200px;
}
#text-danger {
  min-height: 12px;
  width: 100%;
  display: block;
}