{% extends "layout.html" %}
{% block body %}
    <h1>Flask OSM</h1>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
      <div>
          <div class="uk-card uk-card-default uk-card-body">
            <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1@s uk-inline">
                    <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: commenting"></a>
                    <input class="uk-input" type="text" placeholder="Сообщение(не обязательно)" aria-label="50" id="input-msg">
                </div>
                <div class="uk-width-1-2@s uk-inline">
                    <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: location"></a>
                    <input class="uk-input" type="text" placeholder="longitude" aria-label="50" id="input-lon">
                </div>
                <div class="uk-width-1-2@s uk-inline">
                    <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: location"></a>
                    <input class="uk-input" type="text" placeholder="latitude" aria-label="50" id="input-lat">
                </div>
                <div class="uk-margin" uk-margin>
                  <button class="uk-button uk-button-default" onclick="addMarker()">Подтвердить</button>
                </div>
            </form>
            <label class="uk-form-label uk-form-danger" id="text-danger"></label>
          </div>
      </div>
    </div>
    <div id="map" style="height: 450px"></div>
    <p>
      <button onclick="getMapCenter()" class="uk-button uk-button-primary" uk-icon="location" title="Получить центр">Получить центр</button>
    </p>
    <div class="uk-card-footer">
      <div class="uk-width-1-1"><b>lon</b>: <input class="uk-input" disabled type="text" aria-label="50" id="label-lon"><div>
      <div class="uk-width-1-1"><b>lat</b>: <input class="uk-input" disabled type="text" aria-label="50" id="label-lat"></div>
    </div>
  </body>
</html>
{% endblock %}