<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}"/>
    <script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/uikit/css/uikit.min.css') }}"/>
    <script src="{{ url_for('static', filename='vendor/uikit/js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/uikit/js/uikit-icons.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <main class="uk-card uk-card-default uk-width-1-2@m">
      {% block body %}{% endblock %}
    </main>
  </body>
</html>
